@import url('../fonts/stylesheet.css');
/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
    --primary-font: 'Garet Book';
    --primary-bold-font: 'Garet';
    --script-font: "AnastasiaScript";
    --primary-black: #001515;
    --primary-white: #ffffff;
    --secondary-grey: #f7f7f7;
  
  }
body {
    top: 0;
    position: relative;
    font-family: var(--primary-font);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    overflow-x:hidden;
}
body.modal-open {
    overflow: hidden !important;
    padding-right: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-style: normal;
}
p,
small,a, ul li {
    font-family: var(--primary-font);
}

/* Navbar */
.mainNav {
    background: transparent;
    position: absolute;
    top:0;
    width: 100%;
    left:0;
    right:0;
    z-index: 1;
    min-height: 75px;
}
.mainNav.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--primary-white);
    font-size: 0.89rem;
    text-transform: uppercase;
}
.form-control:focus, .form-select:focus {
    outline: 0  !important;
    box-shadow:none !important;
    border:0px !important
}
.btn-primary {
    background-color: var(--primary-black) !important;
    color: var(--primary-white);
    font-size: 0.89rem !important;
    padding: .4rem 2rem .4rem 2rem !important;
    border:1px solid var(--primary-black) !important;
}
.text-sec {
    font-size: 0.87rem;
}
.bg-primary {
    background-color: var(--primary-black) !important;
}
.bg-secondary {
    background-color: var(--secondary-grey) !important;
}
.btn-white {
    background-color: var(--primary-white) !important;
    color:var(--primary-black);
    font-size: 0.89rem !important;
    padding: .4rem 2rem .4rem 2rem !important;
    border:1px solid var(--primary-white) !important;
}
.p-relative {
    position: relative;
}
.text-primary {
    color: var(--primary-black) !important;
}
.text-secondary {
    color: #c9c9c9 !important;
}
a {
    text-decoration: none;
}
.btn-outline, .btn-outline:hover {
    background-color: transparent !important;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 0.82rem;
    color: #fff !important;
    padding: 2px 10px;
}
/* banner */
.mainBanner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: inset 0 0 0 2000px rgba(4, 28, 44, 0.75);
    background-image: url('../images/blog-no-image.webp');
    padding-top: 200px;
}
.bannerHead h5 {
    font-size: 2.5rem;
    font-family: var(--primary-font);
    line-height: normal;

}
.sectionHead h5 {
    font-size: 3.5rem;
    font-family: var(--primary-font);
}
.bannerHead span, .sectionHead span {
    font-family: var(--script-font);
    font-size: 3rem;
}
.secHead h5 {
    font-size: 1.5rem;
    font-family: var(--primary-font);
}
.secHead span {
    font-family: var(--script-font);
    font-size: 2rem;
}
.searchDiv {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid --primary-black;
}
.searchForm label {
    font-size: 0.89rem;
    color: var(--primary-white);
    margin-bottom: 10px;
}
.aboutImg {
    margin-right: -47%;
}
.bgVilla {
    padding: 15px;
    background-color: #f7f7f7;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #e0e0e0;
    border-right: 0px !important;
}
.bgVilla2{
    position: absolute;
    width: 100%;
    height: 100%;
    right: -47%;
    top:0;
    bottom:0;
    background-color: #f7f7f7;
    z-index: -1;
}
/* property grid  */
.propCont {
    font-size: 0.82rem;
}
.propCont img {
    width: 100%;
    height:425px;
    object-fit: cover;
    border-radius: 15px;
}
.propCont .propDetOverlay {
    position: absolute;
    width: 100%;
    height: 425px;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, .7) 50%);
    color: var(--primary-white);
}
.propDetOverlay .card-title {
    color: var(--primary-white);
    font-size: 0.92rem;
    text-transform: uppercase;
    font-weight: 700 !important;
}
.partnerImg img {
    width: 100%;
    height:100px;
    object-fit: contain;
    object-position: center;
}
.testiImg img{
    width: 180px !important;
    height:180px;
    object-position: center;
    margin: auto;
}
.testiDesc {
    position: relative;
}
.testiDesc .quote1{
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
    z-index: -1;
}
.testiDesc .quote2 img {
    transform: rotate(180deg);
}
.testiDesc .quote2{
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 25%;
    height: 25%;
    z-index: -1;
}
.blogCard {
    height: 500px;
}
.blogCardSide {
    height: 238px;
}
.blogCard img {
    height: 350px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.blogCardSide img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
/* footer  */
.footHead {
    margin: 0 auto;
    width: fit-content;
}
.footHead h6 {
    text-transform: uppercase;
}
.footList li{
    display: inline;
    grid-template-columns: max-content max-content max-content;
}

.list-bar::before {
    padding: 0 5px;
    color: #ddd;
    content: "|";
    font-size: 16px;
    font-family: "bootstrap-icons";
    vertical-align: baseline;
    line-height: 0.87rem;
    display: inline;
}
.list-dot::before {
    padding: 0 5px;
    color: #ddd;
    content: "\F287";
    font-size: 8px;
    font-family: "bootstrap-icons";
    vertical-align: middle;
    line-height: 0.87rem;
    display: inline;
 
}
.footList li:first-child::marker {
    list-style-type: none !important;
}
@media screen and (max-width: 720px) {
    .rowRev {
        flex-direction: row-reverse;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0;
        top:75px;
        right: 0;
        text-align: left;
        background: var(--primary-black);
        padding: 20px;
    }
    .aboutImg {
        margin-right: auto;
    }
    .bgVilla2, .bgVilla {
        right: 0;
    }
    .searchForm label {
        margin-bottom: 0px !important;
    }
    .sectionHead h5 {
        font-size: 1.5rem !important;
    }
    .bgVilla {
        border-right: 1px solid #e0e0e0 !important;
    }
    .blogCard, .blogCardSide, .blogCard img, .blogCardSide img {
        height: auto !important;
    }
    .blogCard {
        margin-bottom: 1.5rem;
    }
    .footHead{
        width: 100% !important;
    }
}