@import url('../fonts/stylesheet.css');
/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
:root {
    --primary-font: 'Garet Book';
    --primary-bold-font: 'Garet';
    --script-font: "AnastasiaScript";
    --primary-black: #001515;
    --primary-white: #ffffff;
  
  }
body {
    top: 0;
    position: relative;
    font-family: var(--primary-font);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    overflow-x:hidden;
}
body.modal-open {
    overflow: hidden !important;
    padding-right: 0px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    font-weight: 300;
    font-style: normal;
}
p,
small,a, ul li {
    font-family: var(--primary-font);
}

/* Navbar */
.mainNav {
    background: transparent;
    position: absolute;
    top:0;
    width: 100%;
    left:0;
    right:0;
    z-index: 1;
    min-height: 75px;
}
.mainNav.navbar-expand-lg .navbar-nav .nav-link {
    color: var(--primary-white);
    font-size: 0.89rem;
    text-transform: uppercase;
}
.form-control:focus, .form-select:focus {
    outline: 0  !important;
    box-shadow:none !important;
    border:0px !important
}
.btn-primary {
    background-color: var(--primary-black) !important;
    color: var(--primary-white);
    font-size: 0.89rem !important;
    padding: .4rem 2rem .4rem 2rem !important;
    border:1px solid var(--primary-black) !important;
}
.text-sec {
    font-size: 0.89rem;
}
.bg-primary {
    background-color: var(--primary-black) !important;
}
.p-relative {
    position: relative;
}
/* banner */
.mainBanner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    box-shadow: inset 0 0 0 2000px rgba(4, 28, 44, 0.75);
    background-image: url('../images/blog-no-image.webp');
    padding-top: 200px;
}
.bannerHead h5 {
    font-size: 2.5rem;
    font-family: var(--primary-font);
    line-height: normal;

}
.sectionHead h5 {
    font-size: 3.5rem;
    font-family: var(--primary-font);
}
.bannerHead span, .sectionHead span {
    font-family: var(--script-font);
    font-size: 3rem;
}
.secHead h5 {
    font-size: 1.5rem;
    font-family: var(--primary-font);
}
.secHead span {
    font-family: var(--script-font);
    font-size: 2rem;
}
.searchDiv {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid --primary-black;
}
.searchForm label {
    font-size: 0.89rem;
    color: var(--primary-white);
    margin-bottom: 10px;
}
.aboutImg {
    margin-right: -47%;
}
.bgVilla {
    padding: 15px;
    background-color: #efefef;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #c9c9c9;
}
.bgVilla2{
    position: absolute;
    width: 100%;
    height: 100%;
    right: -47%;
    left:0;
    top:0;
    bottom:0;
    background-color: #efefef;
}
@media screen and (max-width: 720px) {
    .rowRev {
        flex-direction: row-reverse;
    }
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0;
        top:75px;
        right: 0;
        text-align: left;
        background: var(--primary-black);
        padding: 20px;
    }
    .aboutImg {
        margin-right: auto;
    }
}