@font-face {
    font-family: 'AnastasiaScript';
    src: url('AnastasiaScript.eot');
    src: url('AnastasiaScript.eot?#iefix') format('embedded-opentype'),
        url('AnastasiaScript.woff2') format('woff2'),
        url('AnastasiaScript.woff') format('woff'),
        url('AnastasiaScript.ttf') format('truetype'),
        url('AnastasiaScript.svg#AnastasiaScript') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garet Book';
    src: url('Garet-Book.eot');
    src: url('Garet-Book.eot?#iefix') format('embedded-opentype'),
        url('Garet-Book.woff2') format('woff2'),
        url('Garet-Book.woff') format('woff'),
        url('Garet-Book.ttf') format('truetype'),
        url('Garet-Book.svg#Garet-Book') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

